.navbar {
    padding-top: 0rem !important;
    padding-bottom: 0rem !important;
    font-size: 3.2vw;
}

.nav-item {
    margin-left: 2vw;
    margin-right: 2vw;
}

.polosa {
    height: 5vw;
    margin-top: 4vw;
}

.bloksummary {
    width: 90%;
    margin: auto;
    text-align: center;
}

.bloksummarmd {
    margin-top: 3.5vw;
}

.blokobomne {
    text-align: center;
    position: relative;
}

.photo img {
    height: 55vw;
}

.containerobome {
    position: relative;
    margin-top: 0.7vw;
}

.fio {
    font-size: 5.5vw;
}

.txtprogrammer {
    font-size: 4vw;
    margin-top: 1vw;
}

.blokobome {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 2vw;
}

.blokobome div {
    font-size: 3.5vw;
    display: flex;
    margin-right: 2vw;
}

.obomneicon {
    height: 4vw;
}

.info {
    font-size: 5.5vw;
    margin-top: -0.6vw;
}

.txt_bloksummar {
    font-size: 5.5vw;
    font-weight: 600;
    border-bottom: 0.6vw solid rgb(0, 0, 0);
    text-align: justify;
    text-align: center;
}

.txt_bloksummarmd {
    text-align: center;
    margin-top: 4vw;
}

.contacts {
    font-size: 3.3vw;
    margin-top: 1vw;
}

.txtcontacts {
    font-size: 2.7vw;
    text-align: justify;
}

.txtcontactsmd {
    text-align: center;
    margin-top: 2vw;
    margin-bottom: 4vw;
}

.nameexperience {
    font-size: 3.9vw;
    color: #26ade5;
    font-weight: 600;
    text-align: left;
}

.margin-top {
    margin-top: 3.9vw;
}

.txtexperience {
    font-size: 3.2vw;
    text-align: left;
    margin-left: 15%;
}

.txtdopoby {
    font-size: 3.2vw;
    text-align: left;
}

.txtdop {
    font-size: 3vw;
    text-align: left;
}

.txtdop h {
    font-weight: 600;
}

.biok_quality_skills {
    margin-left: 0%;
    margin-right: 0%;
    margin: auto;
    margin-top: 4.5vw;
}

.biok_quality_skillsmd {
    margin-left: 0%;
    margin-right: 0%;
    margin: auto;
    text-align: center;
}

.Pacifico-Regular {
    font-family: Pacifico-Regular;
}

.cursive {
    font-weight: 700;
}

.txtotvets {
    text-indent: 3.4vw;
    text-align: justify;
    font-size: 3.1vw;
    margin-right: 4%;
}

.experience_ul {
    padding: 0 !important;
    font-size: 3.4vw;
    text-align: left;
    margin-left: 6.5%;
}

.experience_ul li {
    color: #26ade5;
}

.experience_ul li span {
    color: #000000;
}

#block3 {
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    text-align: center;
}

.txt_job_zagolov {
    font-size: 5.5vw;
    font-weight: 600;
    margin-bottom: 1vw;
    margin-top: 3vw;
}

.txt_job {
    font-size: 3.4vw;
}

.holder {
    position: relative;
    height: 100%;
}

.blokholder {
    margin: 2vw;
    display: inline-table;
    width: 70vw;
    background: rgba(0, 0, 0, 1);
    border-radius: 20px;
    color: white;
    overflow: hidden;
    height: 20vw;
}

.block {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    background: rgba(92, 92, 92, 0.7);
    padding: 2vw;
    display: none;
    color: rgb(255, 255, 255);
}

.block a {
    text-decoration: none;
    color: rgb(255, 255, 255) !important;
    font-size: 6vw;
    font-family: SawarabiGothic-Regular;
}

.holder:hover .block {
    display: flex;
    justify-content: center;
    align-items: center;
}

.myproject {
    width: 70vw;
}

.txtholder {
    margin: 1.5vw;
    font-size: 2.5vw;
}

.footer {
    height: 8vw;
    background: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3vw;
    margin-top: 4vw;
}

.to-bottom {
    width: 35px;
    height: 60px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 20px;
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
}

.to-bottom::before {
    content: "";
    width: 5px;
    height: 10px;
    background: rgb(199, 199, 199);
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 40%;
    animation: tobottom 1.5s infinite;
}

@keyframes tobottom {
    100% {
        opacity: 0;
        top: 55px;
    }
}

.obomneicon1 {
    width: 6vw;
}

.icon_bloksummar2 {
    width: 8.5vw;
}

.icon_bloksummar3 {
    width: 7.9vw;
}

.icon_bloksummar4 {
    width: 6vw;
}

.icon_bloksummar5 {
    width: 6.8vw;
}

.icon_bloksummar6 {
    width: 7.4vw;
}

.icon_bloksummar7 {
    width: 11vw;
}